.sideBarBackground {
  width: 250px;
  height: 100vh;
  // background-image: linear-gradient(315deg , #5b8fff, #0b76f8);  
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  border: 1px solid #E8EEFA;
}

.kvLogo {
  width: 80%;
  margin: 20px 0 16px 25px;
  background-color: white;
}
.kv-logo{
  // border: 1px solid black;
  background-color: white;
}
.navigation {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
}
