.create{
    position: absolute;
    right: 3.5%;
    top: 100px;
    border: 1px solid #bfe6f5;
    padding: 12px 25px 12px 25px;
    color: black;
    display: flex;
    border-radius: 6px;
    font-size: 15px;
    background-color: #bfe6f5;
    text-decoration: none;
    box-shadow: rgba(152, 179, 255, 0.2) 0px 2px 8px 0px;
    transition: 500ms;
    
    
}
.create:hover{
    background-color: #89dafa;
    transition: 500ms;
}  