.category-style {
  padding-left: 300px;
  padding-top: 100px;
  width: calc(100% - 300px);
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 118.5%;
    gap: 60px;
  }
  .heading-display {
    display: flex;
    margin-bottom: 50px;
    .tail {
      padding-top: 16px;
    }
  }
}
.status-field-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1500px;
  gap: 50px;
}
