.category-style {
  padding-left: 300px;
  padding-top: 100px;
  width: calc(100% - 300px);
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 118.5%;
    gap: 60px;
  }
  .heading-display {
    display: flex;
    .tail {
      padding-top: 16px;
    }
    margin-bottom: 50px;
  }
}