.employee-request{
    .heading-display {
        display: flex;
        margin-left: 300px;
        padding-top: 100px;
        margin-bottom: 50px;
        .tail {
            padding-top: 16px;
        }
    }
}