.close-icon-wrap {
  position: absolute;
  left: 95%;
  top: 5%;
  cursor: pointer;
}

.button-wrap {
  margin-top: 50px;
  display: block;
}

.delete-msg-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.delete-msg-wrap h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
}

.delete-msg-wrap h4 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
