.user-component{
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 21px;
    border-bottom: 1px solid #E8EEFA;
    background-color: #ffffff;
    width: calc(100% - 250px);
    .signout-button{
        position: relative;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        margin-right: 30px;
        margin-left: 87%;
        border-radius: 5px;
        padding: 7px 20px 5px 20px;
        background-color: #f0f3f7;
        transition: 500ms;
        cursor: pointer;
    }
    .signout-button:hover{
        background-color: #dfe7ee;
        transition: 500ms;
    }
    .user-icon{
        width: 40px;
        background-color: #ffffff;
        

    }
}