.status-card{
    border: 1px soid black;
    width: 99%;
    display: flex; 
    padding: 20px 50px 25px 40px;
    color: #ffffff;
    border-radius: 6px;
    margin-bottom: 40px;
    
    .status-icon{
        font-size: 40px;
        margin: 10px;
        color: #ffffff;
        padding: 5px;
         
    }
    
    h4{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
}