
    .sub-card{
        padding: 20px 0px 100px 20px;
        border: 1px solid #EDF4FA;
        box-shadow: rgba(152, 179, 255, 0.2) 0px 2px 8px 0px;
        border-radius: 6px;
        background-color: #EDF4FA;
        display: flex;
        min-width: 180px;
        transition: 1000ms;
        cursor: pointer;
        
    }
    .sub-logo{
        margin-right: 10px;
        font-size: 40px;
        border: 1px solid black;
        border-radius: 50px;
    }
    .sub-card:hover{
        box-shadow: rgba(104, 109, 182, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(95, 115, 182, 0.07) 0px 4px 8px, rgba(87, 105, 165, 0.07) 0px 8px 16px, rgba(84, 105, 165, 0.07) 0px 16px 32px, rgba(115, 119, 180, 0.07) 0px 32px 64px;    
        transform: scale(1.1);
        transition: 1000ms;
    }    
    .card-name{
        padding: 10px 10px 10px 5px;

    }
    .card-date{
        padding: 0px 10px 10px 5px;
    }