.heading-subcategory{
    padding-left: 300px;
    display: flex;
    .tail{
        padding-top: 16px;
        margin-top: 6%;
    }
    .head{
        margin-top: 6%;
        margin-bottom: 50px;

    }
    
}