.heading-subcategory{
    padding-left: 300px;
    display: flex;
    .tail{
        padding-top: 16px;
        margin-top: 6%;
    }
    .head{
        margin-top: 6%;
        margin-bottom: 50px;

    }
    
}
.status-field-card-sub{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1500px;
    margin-left: 16.5%;
    padding: 0px 0px 0px 40px;
  }


  