.form-select {
  height: 30px;
  width: 20vw;
  border-radius: 5px;
  border-width: 1px;
  background: #fafafa;
  border-style: solid;
  border-color: #e7e7e7;
  padding-left: 8px;
  color: #676767;
}
