

table {
    border-collapse: separate;
    border-spacing: 0 20px;
    border-radius: 10px;
    width: 100%;
    
}

thead th {
    box-shadow: 0px 0px 5px #3cc8ff;
    background-color: #3cc8ff;
}

thead th:first-child {
    border-radius: 10px 0px 0px 10px;
}

thead th:last-child {
    border-radius: 0px 10px 10px 0px;
}

td,
th {
    text-align: left;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 28px;
    color: #383838;
}

tbody tr {
    border: 1px solid #dddddd;
    box-shadow: 2px 1px 5px rgb(231, 231, 231);
    // TODO: not for all table
    cursor: pointer;
    background-color: #f0f3f7;
    transition: 500ms;

}

.no-link-table {
    tbody tr {
        cursor: initial;
    }
}

tbody tr:hover {
    background-color: #eeeeee;
    transition: 500ms;
}

.delete-icon {
    margin-right: 20px;
}